.container {
  width: 80%;
  
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.min-height {
  min-height: 75%;
}

.start {
  justify-content: flex-start;
  width: 100%;
}

.column {
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
@media (max-width: 800px) {
  
  .container {
    width: 100%;
  }
}

