.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}
.box {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex ;
 
  list-style: none;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}
.menu {
  color: white;
  font-size: 3em;
  display: none;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #ffbb33;
}

@media (max-width: 450px) {
  .list {
    display: none;
  }
  .menu {
    display: block;
  }
  .box {
    width: 100%;
  }
  .list {
    width: 100%;
    font-size: 2em;
    justify-content: center;
    flex-direction: column;
  }
  .hide {
  display: none;
}

.open {
  display: flex;
}
}
